.navBar ul li {
    display: inline;
    justify-content: space-between;
    width: 100vw;
}


.navBar li a {
    display: inline;
    text-decoration: none;

    padding: 10px;
  }

.navBar p {
    color: #ff006a;
    font-size: 2rem;
}