.navBar ul {
background-color: #a7a7a7;
padding: 10px;
}

.navBar ul li {
    display: inline;
    justify-content: space-between;
    width: 100vw;
    margin: 10px;
}


.navBar li a {
    display: inline;
    text-decoration: none;
}